*{
    box-sizing: border-box;
}

body{
    background-color: aquamarine;
}

h1, h2{
    font-family: sans-serif;
    /* Alternatively, on one line: */
    /* font: 1.0em "Arial", sans-serif */

}

a{
    font-size: 2.0em;
}

ol,ul {
    color: red;
}

#Sycamore_Gap_tree{
    width: 400px;
    max-width: 50%;
    border-radius: 20%;
    border: 10px, dotted, red;

}

#Simple-Margin{
    margin: 50px 30px 50px;
    background-color: bisque;
    text-align: center;

}

#Centre-Margin{
    margin: auto;
    width: 50%;
    background-color: bisque;
    text-align: center;

}

#Padding-div{
    border: 20px, solid, greenyellow;
    width: auto, auto;
    padding: 5% 25%;
    text-align: center;
    margin: auto;
    /* box-sizing: border-box; */
}

.grid-container{
    display: grid;
    gap:50px 100px;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto auto;
}

.grid-element{
    grid-row-start: 0;
    grid-row-end: 0;
    grid-column-start: 0;
    grid-column-end: 0;
    width: auto;
    background-color: azure;
    text-align: center;
}

